// Colors
$bg-color: #CFE8F4;
$key-color-lighter: #EDC667;
$key-color: #EFBE40;
$key-color-darker: #F4AF00;
$second-color-lighter: #646C7B;
$second-color: #2B354A;
$second-color-darker: #1C2230;
$tertiary-color-lighter: #DC927A;
// Orange
$tertiary-color: #C9552E;
// Teal
//$tertiary-color: #1B998B;
$tertiary-color-darker: #933E22;
//Pink
// $tertiary-color: #842156;

$placeholder-color: #8fa9bc;
$placeholder-outline: red;
